h1{
    text-align: center;
    margin-bottom: 30px;

}
.form-control{

    margin-top: 10px;
}

.jumbotron{
    text-align: center;

}


#enviar{
    margin-top: 10px;
}
#addOs{
    margin-left: 400px;
    
}

